<!DOCTYPE html>
<html ng-app="example_06">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Examples</title>

    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/navbar-fixed-top.css" rel="stylesheet" />
    <link href="assets/css/sticky-footer-navbar.css" rel="stylesheet" />

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="assets/js/examples.js"></script>
</head>
<body ng-controller="myCtrl">

<div ng-include="'include/navbar.html'"></div>

<div class="container">
    <h3>Remove item from list</h3>
    <ul>
        <li ng-repeat="name in names">
            {{name}}
            <button class="btn btn-danger" ng-click="removeName(name)" type="submit">remove</button>
        </li>
    </ul>
    <form ng-submit="addName()">
        <input type="text" ng-model="name" class="form-control" />
        <br />
        <button class="btn btn-success" type="submit">add</button>
    </form>
</div>

<div ng-include="'include/footer.html'"></div>

</body>
</html>